<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    
    <title>My Project</title>
</head>
<body>
    <div class="container">
        <h1>Audit AI: A Machine Learning For Detecting Fraud In Audit Data</h1>
        <p>Fraud detection is crucial for businesses and individuals as it prevents financial losses and safeguards company integrity by identifying and preventing fraud through analysis of audit data.</p>
        <p>Detecting fraud is essential in the online business world to protect against scams, bad agents, and other damaging effects, requiring companies to analyze financial and operational data from audits for patterns indicating fraudulent activity.</p>
        <!-- Add more content as needed -->

        <h2>Team Members</h2>
        <ul>
            <li>Ajith</li>
            <li>Chandrasekaran</li>
            <li>Tamilselvan</li>
            <li>Vijayakumar</li>
        </ul>
    </div>
</body>
</html>
